<?php
/* doctrine dbal configuration
 * For further details, please see Doctrine configuration page.
 * http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connection-details
 */
$config = array(
    'dbal' => array(
        'user'     => 'root',
        'password' => '',
        'driver'   => 'pdo_sqlite',
        'host'     => 'localhost',
        'dbname'   => 'jackalope',
        'path'     => 'phpcr.sqlite',
    ),
    'phpcr' => array(
        'workspace' => 'default', // phpcr workspace to use
        'username'  => 'admin',
        'password'  => 'admin',
    ),
);

$helperSet = \Jackalope\Tools\Console\Runner::createHelperSetFromConfig($argv, $config);
